.idea/
data/
docs/
dist/
build/
Writerside/
docker-compose.yml
masks.cxm
tril2w.msh
tril2w.stp
tril2w.db
debugview/
docker/
.run/
env.json
node_modules/
notes/
tests/
.env
.github
.fleet
.devcontainer
pydoc
build.sh
push.sh
run.sh
test.sh
docs
/tests/logs/

/.cadence/
*.gh
*.3dm