[build-system]
requires = ["poetry-core", "cython", "numpy", "setuptools", "pyMSVC;sys_platform=='win32'"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "mmcore"
version = "0.22.4"
description = "mmcore"
authors = ["Andrew Astakhov <aa@contextmachine.ru>", ]
license = "Apache License Version 2.0"
readme = "README.md"
packages = [{ include = "./mmcore" }]


[tool.poetry.dependencies]
numpy = { version = "^1.24.1" }
python = ">=3.9,<4.0"
graphene = { version = "^3.0.0" }
pydantic = { version = "1.10.7" }
starlette = "*"
ipython = { version = "^8.12.0" }
termcolor = { version = "^2.3.0" }
setuptools = { version = "^67.0.0" }
fastapi = { version = "*", extras = ["all"] }
earcut = { version = "^1.1.5" }
shapely = "^2.0.1"
shell = "^1.0.1"
python-dotenv = "^1.0.0"
redis = "^5.0.1"
requests = "^2.31.0"
scipy = "^1.11.1"
dill = "^0.3.7"
httpx = "^0.27.0"
rpyc = "^6.0.0"
typing-extensions = "^4.7.1"
jinja2 = "^3.1.2"
colored = "^2.2.3"
boto3 = "^1.28.16"
strawberry-graphql = { extras = ["fastapi"], version = "^0.198.0" }
ujson = "^5.8.0"
pyquaternion = "^0.9.9"
multiprocess = "^0.70.15"
cloudpickle = "^2.2.1"
more-itertools = "^10.1.0"
uvicorn = { version = "^0.29.0", extras = ["standard"] }
randomname = "^0.2.1"
geomdl = "^5.3.1"
rich = "^13.5.2"
pyvis = "^0.3.2"
pygments = "^2.16.1"
wheel = "^0.43.0"
multipledispatch = "*"
cython = "*"
cython-lint = "*"
click = "*"

[tool.poetry.build]
generate-setup-file = false
script = 'build.py'


[tool.cython-lint]
max-line-length = 140
ignore = ['E503', 'E504']
