pydantic>=1.10.2
compas>=1.17.3
numpy>=1.23.5
pandas>=1.5.1
python-dotenv>=0.21.0
plotly>=5.11.0
fastapi>=0.87.0
uvicorn>=0.19.0
redis>=4.3.5
requests~=2.28.1
scipy~=1.9.3
geomdl>=5.3.1
dill>=0.3.6
httpx>=0.23.1
sphinx>=6.1.2
rpyc>=5.3.0
typing_extensions>=4.4.0
jinja2>=3.1.2
colored>=1.4.4
boto3>=1.26.69