pydantic>=1.10.2
compas>=1.17.3
numpy>=1.23.5
pandas>=1.5.1
python-dotenv>=0.21.0
fastapi>=0.87.0
uvicorn>=0.19.0
redis==4.5.4
requests~=2.28.1
scipy~=1.10.1
geomdl>=5.3.1
dill>=0.3.6
httpx>=0.23.1
rpyc>=5.3.0
typing_extensions>=4.4.0
jinja2>=3.1.2
colored>=1.4.4
boto3>=1.26.69
strawberry
yaml~=0.2.5
pyyaml~=6.0
cxmdata~=0.1.1
typing~=3.10.0.0
gmsh~=4.11.1
rhino3dm~=8.0.0
zlib~=1.2.13
setuptools~=67.6.0
graphql-core