compas~=1.16.0
numpy>=1.23.5
pandas>=1.5.1
python-dotenv>=0.21.0
fastapi>=0.87.0
uvicorn>=0.19.0
redis>=4.5.4
requests>=2.28.1
scipy~=1.10.1
dill>=0.3.6
httpx>=0.23.1
rpyc>=5.3.0
typing_extensions>=4.4.0
jinja2>=3.1.2
colored>=1.4.4
boto3>=1.26.69
fastapi[all]
uvicorn[standard]
strawberry-graphql[fastapi]
pyyaml~=5.4.1
gmsh~=4.11.1
setuptools~=67.5.1
graphql-core
geomdl~=5.3.1
shapely~=1.8.1.post1
more-itertools
ujson~=5.7.0
pyquaternion~=0.9.9
multiprocess~=0.70.14
earcut~=1.1.5
yaml~=0.2.5
mmcore~=0.2.1
networkx~=2.8
zlib~=1.2.13
pickleshare~=0.7.5
pydantic~=1.10.2
rhino3dm~=7.15.0
termcolor~=2.3.0
rich~=12.5.1
flask~=2.2.2
plotly~=5.6.0
uvloop~=0.17.0